<div class="general-container color-black-background">

    <div class="general-divider">

        <div class="txt_container" >
            <img alt="logo" src=" {{ logo }}">
        </div>

        <div>
            <h3> Menú </h3>
            <ul>
                <li> Submenu 1 </li>
                <li> Submenu 2 </li>
                <li> Submenu 3 </li>
            </ul>
        </div>

        <div class="txt_container">
            <p class="general-text color-white-txt" >Copyright Oficial ©.</p>
        </div>

    </div>

</div>