<div class="general-container color-black-background">

    <div class="title-container">
        <h3 class="color-white-txt"> ¿Quienes somos? </h3>
        <hr>
    </div>

    <div class="general-divider" >

        <!-- Text -->
        <div class="text-container" >

            <p class="general-text color-white-txt" > 
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type 
                specimen book.
            </p>

        </div>

        <!-- Images -->
        <div class="gallery-container" >

            <button [disabled]="!backBtn" mat-button class="btn-image" (click)="backImage()" >
                <img *ngIf="backBtn" class="icon-image" alt="back" src="{{ back }}" />
            </button>

            <div class="image-container" >
                <img class="image-view" alt="gallery" src="{{ imageView }}" />
            </div>

            <button [disabled]="!nextBtn" mat-button class="btn-image" (click)="nextImage()" >
                <img *ngIf="nextBtn" class="icon-image" alt="next" src="{{ next }}" />
            </button>

        </div>



    </div>

</div>