<div class="color-black-background" >

    <!-- Title -->
    <div class="title-container" >
        <h3 class="color-white-txt"> Objetivo </h3>
        <hr>
    </div>

    <div class="general-divider" >
        <mat-card class="card-container" >
            <div class="cardDivion" >
                <img alt="bat" src="{{ iconBat }}" class="icon-social-media" >

                <p class="general-text" > 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book.
                </p>
            </div>
        </mat-card>

        <mat-card class="card-container" >
            <div class="cardDivion" >
                <img alt="bee" src="{{ iconBee }}" class="icon-social-media" >

                <p class="general-text" > 
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type 
                    specimen book.
                </p>
            </div>
        </mat-card>

    </div>

</div>