.title-container {
    padding: 30px 0px 20px 30px;
}

hr {
    width: 40px;
    margin-left: 0;
}

.general-divider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.card-container {
    width: 85%;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
}

.cardDivion {
    display: grid;
    grid-template-columns: 30% 70%;
}

.icon-social-media {
    margin: auto;
}

.mat-card {
    background-color: transparent;
}

/* 
    Media Query    
*/
@media ( max-width: 479px) and (min-width: 320px) {
    .general-divider {
        display: block;
    }

    .cardDivion {
        grid-template-columns: 10% 90%;
    }

    .mat-card {
        margin: 10px auto 0px auto;
    }
}

@media (max-width: 749px) and (min-width: 480px) {
    .general-divider {
        display: block;
    }

    .cardDivion {
        grid-template-columns: 15% 85%;
    }

    .mat-card {
        margin: 10px auto 0px auto;
    }
}