.home-image {
    background-image: linear-gradient( rgba( 72, 72, 72, 0.4 ), rgba( 72, 72, 72, 0.4 ) ), url('../../../assets/images/nature.jpg');
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.text-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.align-div {
    margin: 50% 0% 0% 0%;
}

h1 {
    padding-left: 80px;
}

.icons-general-container {
    display: grid;
    justify-items: right;
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* Icons */
.icon-social-media {
    padding: 10px;
}
