<div class="contact-image" >

    <div class="general-container" >

        <div class="title-container">
            <h3 class="color-white-txt"> Contacto </h3>
            <hr>
        </div>

        <div class="general-divider" >
            <!-- Formulario -->
            <div class="center-division" >
                <h4> Env&iacute;anos un mensaje </h4>

                <form [formGroup]="contactForm" >
                    <mat-form-field>
                        <input 
                            matInput
                            placeholder="Nombre(s)"
                            (blur)="checkName()"
                            (keyup)="checkName()"
                            [formControl]="name" >
                        
                        <mat-error *ngIf="name">
                            {{ errorMessageName }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input 
                            matInput
                            placeholder="Apellido(s)"
                            (blur)="checkLastName()"
                            (keyup)="checkLastName()"
                            [formControl]="lastName" >
                        
                        <mat-error *ngIf="lastName" >
                            {{ errorMessageLastName }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input 
                            matInput
                            placeholder="Teléfono"
                            (blur)="checkPhone()"
                            (keyup)="checkPhone()"
                            [formControl]="phone" >
                        
                        <mat-error *ngIf="phone" >
                            {{ errorMessagePhone }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input 
                            matInput
                            placeholder="Correo"
                            (blur)="checkEmail()"
                            (keyup)="checkEmail()"
                            [formControl]="email" >
                        
                        <mat-error *ngIf="email" >
                            {{ errorMessageEmail }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field >
                        <textarea
                            matInput
                            placeholder="Mensaje"
                            (blur)="checkMessage()"
                            (keyup)="checkMessage()"
                            [formControl]="message" >
                        </textarea>
                        
                        <mat-error *ngIf="message" >
                            {{ errorMessage }}
                        </mat-error>
                    </mat-form-field>
                </form>

                <div class="center-button" >
                    <button mat-button color="primary" > Enviar </button>
                </div>

            </div>

            <!-- Contacto -->
            <div class="division-info" >

                <div class="center-button" >
                    <p class="general-text color-white-txt" > correo@correo.com </p>
                    <p class="general-text color-white-txt" > 55 55 55 55 55 </p>
                </div>


                <div class="icons-general-container" >
                    <div class="icons-container">
                        <img alt="facebook" src=" {{ iconFb }}" class="icon-social-media" >
                        <img alt="instagram" src=" {{ iconIG }}" class="icon-social-media" >
                        <img alt="youtube" src=" {{ iconYT }}" class="icon-social-media" >
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>
