/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
}


/* Titulos */
h1 {
    font-size: 50px;
    font-family: 'PoppinsLight', sans-serif;
}

h3 {
    font-size: 30px;
    font-family: 'PoppinsSemiBold', sans-serif;
    margin: 0px;
}

/* Textos */
.menu {
    font-size: 20px;
    font-family: 'PoppinsLight', sans-serif;
}

.general-text {
    font-size: 13px;
    font-family: 'PoppinsMedium', sans-serif;
}


/* Icons */
.icon-social-media {
    width: 30px;
}

/* Colors */
.color-btn-background {
    background-color: #C1C1C1;
}

.color-black-background {
    background-color: #151515;
}

.color-gray-txt {
    color: #606060;
}

.color-white-txt {
    color: #FFFFFF;
}


/* Importación de fuentes */
@font-face {
    font-family: PoppinsLight;
    src: url('../src/assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url('../src/assets/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: PoppinsMedium;
    src: url('../src/assets/fonts/Poppins-Medium.ttf');
}


/*
    Responsive Desing - Media Queries
*/
@media ( max-width: 479px) and (min-width: 320px) {
    h1 {
        font-size: 30px;
    }

    h3 {
        font-size: 13px;
    }

    /* Textos */
    .menu {
        font-size: 11px;
    }
    
    .general-text {
        font-size: 6px;
    }


    /* Icons */
    .icon-social-media {
        width: 10px;
    }

}

@media (max-width: 749px) and (min-width: 480px) {
    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 15px;
    }

    /* Textos */
    .menu {
        font-size: 12px;
    }
    
    .general-text {
        font-size: 7px;
    }


    /* Icons */
    .icon-social-media {
        width: 15px;
    }

}

@media (max-width: 999px) and (min-width: 750px) {
    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 20px;
    }

    /* Textos */
    .menu {
        font-size: 15px;
    }
    
    .general-text {
        font-size: 8px;
    }


    /* Icons */
    .icon-social-media {
        width: 20px;
    }
    
}

@media (max-width: 1300) and (min-width: 1000) {
    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 25px;
    }

    /* Textos */
    .menu {
        font-size: 17px;
    }
    
    .general-text {
        font-size: 10px;
    }


    /* Icons */
    .icon-social-media {
        width: 25px;
    }

}
